<template>
  <div>
    <table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
  <tr v-for="contacts in contactList" :key="contacts._id">
    <td>{{ contacts.firstname }}</td>
    <td>{{ contacts.lastname }}</td>
    <td>{{ contacts.email }}</td>
  </tr>
</table>
  </div>
</template>

<script>

import authentication from '@/middleware/authentication.js'

export default {

    mounted () {
      this.getContact()
    },

    data () {
      return{
        contactList : []
      }
    },

    methods: {
      async getContact () {
      const response = await authentication.getContact()
      console.log(response.data.item)
      this.contactList.splice(0)
      response.data.item.forEach( e => {
        console.log(e)
        this.contactList.push(e)
      })
    },
    }


}

</script>


<style>

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>
