<template>
  <section class="container">
    <div>
    </div>
    <div>
      <div class="toprec1"></div>
      <span class="contact" v-on:click="goBack"><a>Back to Home</a></span>
      <div class="text">Contact me</div>
      <ul class="info-box3">
        <ul class="input-container inline-1">First Name (in Thai) : <input name="firstname" placeholder="Must be in Thai" v-model="firstname" :class="{error: validation.hasError('firstname')}" style="width: 30vw; height: 2.5vw; padding-left: 1vw; font-size: 1.5vw;"> <a style="padding-left : 1vw; font-size : 1.2vw; font-weight: 500; color:red;">{{ validation.firstError('firstname') }}</a></ul><br>
        <ul class="input-container inline-1">Last Name (in Thai) : <input name="lastname" placeholder="Must be in Thai" v-model="lastname" :class="{error: validation.hasError('lastname')}" style="width: 30vw; height: 2.5vw; padding-left: 1vw; font-size: 1.5vw;"> <a style="padding-left : 1vw; font-size : 1.2vw; font-weight: 500; color:red;">{{ validation.firstError('lastname')}}</a></ul><br>
        <ul class="input-container inline-1">Email : <input name="email" placeholder="Email" v-model="email" :class="{error: validation.hasError('email')}" style="width: 30vw; height: 2.5vw; padding-left: 1vw; font-size: 1.5vw;"> <a style="padding-left : 1vw; font-size : 1.2vw; font-weight: 500; color:red;">{{ validation.firstError('email')}}</a></ul><br>
      </ul><br>
      <div class="submit" v-on:click="submit">Submit</div>

    </div>

  </section>
</template>

<script>
import Vue from 'vue'
import authentication from '@/middleware/authentication.js'
import SimpleVueValidation from 'simple-vue-validator'

var Validator = SimpleVueValidation.Validator;

Vue.use(SimpleVueValidation)


export default {

  data () {
    return {
      firstname : '',
      lastname : '',
      email: ''
    }
  },

  components: {
    SimpleVueValidation
  },

  validators: {
    firstname: (value) => {
      return Validator.value(value).required().regex('^[ก-๙]*$','Must be in Thai')
    },
    lastname: (value) => {
      return Validator.value(value).required().regex('^[ก-๙]*$','Must be in Thai')
    },
    email: (value) => {
      return Validator.value(value).required().email()
    },
  },

    methods: {

      async addContact () {
      console.log('add contact button was clicked')
      const response = await authentication.addContact({
          firstname : this.firstname,
          lastname : this.lastname,
          email : this.email
        })
      console.log(response.data)

      if (confirm('Thank you for contact me ! Do you want to go back to homepage ?')) {
        this.goBack()
      }

      this.firstname = ""
      this.lastname = ""
      this.email = ""

      },

       goBack () {
        console.log("GOGO")
        this.$router.push({ path: '/' })
      },

      submit () {
        this.$validate()
        .then((success) => {
          if (!success) return alert('Please specific all required box !')
          return this.addContact()
        })
      }

    },

}



</script>

<style>

.container {
  min-width: 100%;
  margin: 0;
  padding: 0;

}

.toprec1{
  position: absolute;
  min-width: 100%;
  height: calc((20/100)*10/16*100vw);
  background-color: #8c5c4e;
}

.contact{
  position: absolute;
  top: calc((2/100)*10/16*100vw);
  right: 2vw;
  color: #e0e0e0;
  font-size: 1.7vw;
  font-weight: bold;
}
.contact > a:hover{

  text-shadow: 0px 0.5px #fcfcfc;
  cursor: pointer;
}
.contact > a > img{
  width: 1.6vw;
}
.contact > a > img:hover{
  text-shadow: 0px 0.5px #fcfcfc;
  cursor: pointer;
}

.text {
  position: absolute;
  left: 5vw;
  top: calc((2.5/100)*10/16*100vw);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7.5vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e0e0e0;
}

.info-box3 {
  width: 100vw;
  object-fit: contain;
  position: absolute;
  top: calc(0.25*10/16*100vw);
  left: 1vw;
  font-size: 2vw;
  font-weight: bold;
  color: #030303;
}

.info-box3 > p b {
  font-family: Arial, Helvetica, sans-serif;
}


.inline-1 {
    flex: 1;
    padding-right: 32px;
}

.input-container {
    margin-bottom: 16px;
    margin-right: 16px;
}


.submit {
    position: absolute;
    top: calc((62.5/100)*10/16*100vw);
    left: 40vw;
    width: 21.25vw;
    height: auto;
    background-color: #FFF;
    padding: 1vw 6.75vw 1vw 7vw;
    border: 0.3vw solid #8c5c4e;
    border-radius: 1vw;
    align-self: center;
    align-items: center;
    font-size: 2vw;
    color: #8c5c4e;

    outline: none;
    cursor: pointer;
}

.submit:hover {
    background-color: #8c5c4e;
    color: #FFF;
}

</style>
