<template>
  <section class="container">
    <div>
    </div>
    <div>
      <div class="toprec"></div>
      <span class="contact" v-on:click="goContact"><a>Contact me <img src="/good-review.png"></a></span>
      <div><img src="/KNT_9158.jpg" class="profile" ></div>
      <div class="Athipat">Athipat</div>
      <div class="Nampetch">Nampetch</div>
      <div class="subtitle">A Computer Engineering Student</div>
      <div class="info-box1"><ul>
        <li><b>Age:</b> 21 </li><br>
        <li><b>Education:</b> Bachelor of Computer Engineering, Chulalongkorn University (Studying)</li><br>
        <li>A <b>Developer</b>, A <b>Photographer</b>, A <b>Producer</b>, and also A <b>Dreamcatcher</b></li>
        </ul>
      </div>
      <div class="info-box2">
        <ul><h1>My Previous Proud</h1><br></ul>
          <ul v-for="talents in talentList" :key="talents.talent">
          {{ talents.talent }} <b>Since</b> {{ talents.year}}
        </ul><br>
        <ul><h2>and Et cetera...</h2> </ul>
      </div>
      <div class="vertical-line"></div>
    </div>

  </section>
</template>

<script>
import Vue from 'vue'
import authentication from '@/middleware/authentication.js'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'


export default {

  data () {
    return {
      talentList : []
    }
  },

  mounted () {
      this.getTalent()
      .then(() => {
        if (this.talentList[0] === undefined) {
          this.addTalent('FECamp Website Developer','2017')
            .then(() => { this.addTalent("Consolation Price of CU Photo Exhibition 2018","2018")
              .then(() => { this.addTalent("Former Head of FEStudio of FECampX","2017")
                .then (() => { this.addTalent("President of Internal PR @ Chula Expo 2017","2017")
                  .then(() => { this.addTalent("Owner of Facebook Page KNTXT & Eleven.Twice","2017")
                    .then(() => { (this.getTalent()) })
                  })
                })
              })
            })
          }
        })
  },

  watch: {
    talentList (value)  {
      this.getTalent()
    }
    },

  methods: {

    async addTalent (tl,y) {
      const response = await authentication.addTalent({
          talent : tl,
          year : y
        })
      console.log(response.data)
      },

     async getTalent () {
      const response = await authentication.getTalent()
      // console.log(response.data.item)
      this.talentList.splice(0)
      response.data.item.forEach( e => {
        // console.log(e)
        this.talentList.push(e)
      })
    },

      goContact () {
        console.log("GOGO")
        this.$router.push({ path: '/contactme' })
      }

  },

  computed : {
    icon () {
      return addressbook
      }
  },

  components: {
    FontAwesomeIcon
  }

}


</script>

<style>

.container {
  min-width: 100%;
  margin: 0;
  padding: 0;

}

.toprec{
  position: absolute;
  min-width: 100%;
  height: calc((36/100)*10/16*100vw);
  background-color: #8c5c4e;
}

.contact{
  position: absolute;
  top: calc((2/100)*10/16*100vw);
  right: 2vw;
  color: #e0e0e0;
  font-size: 1.7vw;
  font-weight: bold;
}
.contact > a:hover{

  text-shadow: 0px 0.5px #fcfcfc;
  cursor: pointer;
}
.contact > a > img{
  width: 1.6vw;
}
.contact > a > img:hover{
  text-shadow: 0px 0.5px #fcfcfc;
  cursor: pointer;
}

.profile {
  position: absolute;
  width: 18vw;
  top: calc((3/100)*10/16*100vw);
  left: 8vw;
  border-radius: 50%;
}

.Athipat {
  position: absolute;
  left: 30vw;
  top: calc((2.5/100)*10/16*100vw);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7.5vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e0e0e0;
}
.Nampetch {
  position: absolute;
  left: 29.4vw;
  top: calc((11.5/100)*10/16*100vw);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8.5vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e0e0e0;
}
.subtitle {
  position: absolute;
  left: 30vw;
  top: calc((26.25/100)*10/16*100vw);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e0e0e0;
}

.info-box1 {
  width: calc(0.25*100vw);
  object-fit: contain;
  position: absolute;
  top: calc(0.41*10/16*100vw);
  left: 6vw;
  font-size: 1.5vw;
  color: #393939;
}

.info-box1 > p b {
  font-family: Arial, Helvetica, sans-serif;
}
.info-box2 {
  width: calc(0.50*100vw);
  object-fit: contain;
  position: absolute;
  top: calc(0.39*10/16*100vw);
  left: 40vw;
  font-size: 1.5vw;
  color: #393939;
}

.info-box2 > p b {
  font-family: Arial, Helvetica, sans-serif;
}

div.vertical-line{
      position: absolute;
      top: calc(0.38*10/16*100vw);
      left: 37vw;
      width: 1px; /* Line width */
      background-color: black; /* Line color */
      height: calc(40/100*10/16*100vw); /* Override in-line if you want specific height. */
      float: left; /* Causes the line to float to left of content.
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
    }

</style>
