<template>
  <section>
    <section class="container">
      <ul>
        <ul class="title">Portfolio Editor</ul><br>
        <ul><input name="talent" placeholder="talent" v-model="talent">&#09;&#09;&#09;
            <input type="year" name="year" placeholder="year" v-model="year"></ul><br>
        <ul><button @click="addTalent">Add Talent</button></ul>
        <ul><button @click="getTalent">Get Talent</button></ul>
      </ul>
      </section>
      <ul id="example-1" style="align-self: center;">
        <li  v-for="talents in talentList" :key="talents.talent">
          Talent name : {{ talents.talent }} Talent ID : {{talents._id}} <button @click="deleteTalent(talents._id)">Delete</button>
        </li>
      </ul>
  </section>
</template>

<script>
import authentication from '@/middleware/authentication.js'

export default {

  mounted () {
    this.getTalent()
  },

  data () {
    return {
      talent : null,
      year : null,
      talentList : []
    }
  },

  watch: {
    talent (value)  {
      console.log('talent has changed value to ',value)

    }
  },
  methods : {
    async addTalent () {
      console.log('register button was clicked')
      const response = await authentication.addTalent({
          talent : this.talent,
          year : this.year
        })
      console.log(response.data)
      this.getTalent()

      },

    async getTalent () {
      console.log('get user button was clicked')
      const response = await authentication.getTalent()
      console.log(response.data.item)
      // for(let i=0; i<response.data.item.length;i++){
      //   console.log(response.data.item[i])
      // }
      this.talentList.splice(0)
      response.data.item.forEach( e => {
        console.log(e)
        this.talentList.push(e)
      })
    },

    async deleteTalent (talentID) {
      console.log(`delete user button of ${talentID} was clicked`)
      const response = await authentication.deleteTalent({
          id : talentID
      })
      this.getTalent()
      console.log(response.data)

    },

    }
  //   },
  // components: {

  // }
}
</script>

<style>
.container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
